.listResults {
    display: flex;
    margin: 2.5%;
    color: white;
    background-color: black;
    padding: 15px;
}
.listDisplay h4 {
    margin-top: 0;
    margin-bottom: 0;
}
.listResults input {
    margin: 0
}
.listTitleButton {
    border: none;
    color: white;
    background-color: black;
    box-shadow: none;
    font-size: large;
}

.newListBtn {
    width: 95%;
    height: 30px;
}