.nav-title {
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    color: #f2f2f2;
    padding-left: 10px;
}

.nav {
  overflow: hidden;
  background-color: black;
}
.nav h2 {
  color: white;
  text-shadow: 0 0 10px #f70f4d, 0 0 5px #9b32a8;
  font-family: fantasy;
}

.nav-link {
  float: left;
  color: #f2f2f2;
  background-color: black;
  text-align: center;
  padding: 24px 12.8px;
  text-decoration: none;
  font-size: 15px;
  text-shadow: 0 0 10px #f70f4d, 0 0 5px #9b32a8;

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:hover {
  background-color: #454545;
}

.nav-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 0 10px #f70f4d, 0 0 5px #9b32a8;
}

.nav-icons {
  height: 40px;
}
